h1
    {
        color: whitesmoke;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 36;
        font-weight: 400;
        text-align: center;
    }

body
    {
        background-color:rgb(1, 1, 38);
    }

a
    {
        color: whitesmoke;
        text-align: center;
        padding-right: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22;
        font-weight: 300;
        float: left;
        margin-bottom: 10px;
    }

a:hover
    {
        color: lightpink;
    }

.logo
    {
        color: whitesmoke;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 28;
        font-weight: 300;
        text-align: left;
        width: 25%;
        background-color:rgb(1, 1, 38);
        height: 60px;
        float:left;
    }
.menu
    {
        width: 50%;
        background-color:rgb(1, 1, 38);
        text-align: center;
        height: 65px;
        float:right;
        padding-top: 3%;
        padding-left: 3%;
    }
.slider
    {
        width: 100%;
        background-color:rgb(1, 1, 38);
        height: 110px;
        float:left;
        color:lightpink;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40;
        font-weight: 500;
        text-align: center;
    }
.box1
    {
        width: 25%;
        background-color:rgb(1, 1, 38);
        height: 400px;
        float:left;
        align-items: center;
    }
.box2
    {
        width: 25%;
        background-color:rgb(1, 1, 38);
        height: 400px;
        float:left;
        align-items: center;
    }
.box3
    {
        width: 25%;
        background-color:rgb(1, 1, 38);
        height: 400px;
        float:left;
        align-items: center;
    }
.box4
    {
        width: 25%;
        background-color:rgb(1, 1, 38);
        height: 400px;
        float:left;
        align-items: center;
    }

table, tr, td, th   
{
    border: 2px solid black;
    border-collapse: collapse;
}

table
{
    width: 600px;
}

td
{
    padding:5px;
}

th
{
    background-color: lightpink;
    color: black;
}

tr
{
    background-color: ghostwhite;
}

tr:nth-child(odd)
{
    background-color: lightgray;
}

tr:hover
{
    background-color: lightpink;
}

.slider2
    {
        width: 100%;
        background-color:rgb(1, 1, 38);
        height: 110px;
        float:left;
        color:lightpink;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 33;
        font-weight: 300;
        text-align: center;
    }

.box5
{
    width: 40%;
    background-color: rgb(1, 1, 38);
    height: 400px;
    float:left;
}

.box6
    {
        width: 60%;
        background-color: rgb(1, 1, 38);
        height: 400px;
        float:left;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17;
        font-weight: 100;
        text-align: center;
        margin-bottom: 5px;
        color:whitesmoke;
        padding-top: 3%;
    }

.background
{
    width: 100%;
    height: 71vh;
    background-image: url("../images/image6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider3
    {
        width: 100%;
        background-color:rgb(1, 1, 38);
        height: 150px;
        float:left;
        color:lightpink;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30;
        font-weight: 300;
        text-align: center;
    }

.box7
    {
        width: 24%;
        background-color:rgb(1, 1, 38);
        height: 200px;
        float:left;
    }

.box8
    {
        width: 21%;
        background-color:rgb(1, 1, 38);
        height: 200px;
        float:left;
    }

.box9
    {
        width: 21%;
        background-color:rgb(1, 1, 38);
        height: 200px;
        float:left;
    
    }
.box10
    {
        width: 20%;
        background-color:rgb(1, 1, 38);
        height: 200px;
        float:left;
    }
.box11
    {
        width: 13%;
        background-color:rgb(1, 1, 38);
        height: 200px;
        float:left;
    }

    .slider4
    {
        width: 100%;
        background-color:rgb(1, 1, 38);
        height: 110px;
        float:left;
        color:lightpink;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 33;
        font-weight: 300;
        text-align: center;
    }

.box12
    {
        width: 25%;
        background-color:rgb(1, 1, 38) ;
        height: 240px;
        float: left;
    }
.box13
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 240px;
        float: left;
    }
.box14
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 240px;
        float: left;
    }
.box15
    {
        width: 25%;
        background-color:rgb(1, 1, 38);
        height: 240px;
        float: left;
    }
.box16
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 240px;
        float: left;
    }
.box17
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 240px;
        float: left;
    }
.box18
    {
        width: 25%;
        background-color:rgb(1, 1, 38);
        height: 240px;
        float: left;
    }
.box19
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 240px;
        float: left;
    }

.slider5
    {
        width: 100%;
        background-color:rgb(1, 1, 38);
        height: 130px;
        float:left;
        color:lightpink;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 33;
        font-weight: 300;
        text-align: center;
    }

.box20
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 220px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16;
        font-weight: 200;
        text-align: center;
        color: whitesmoke;
    }
.box21
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 220px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15;
        font-weight: 200;
        text-align: center;
        color: whitesmoke;
    }
.box22
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 220px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16;
        font-weight: 200;
        text-align: center;
        color: whitesmoke;
    }
.box23
    {
        width: 25%;
        background-color: rgb(1, 1, 38);
        height: 220px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16;
        font-weight: 200;
        text-align: center;
        color: whitesmoke;
    }